.bznetwork-ServerListTable {
	border: 1px solid #cccccc
}

.bznetwork-MenuCurrentScreenItem {
	text-decoration: none;
	color: black;
	font-weight: bold
}

.bznetwork-MainScreenHeader {
	font-weight: bold;
	font-size: 24px
}

.bznetwork-MainScreenHeaderName {
	font-weight: bold;
	font-size: 24px;
	color: #888888
}

.bznetwork-MainScreenHeaderSeparator {
	font-weight: bold;
	font-size: 24px;
	color: #444444
}

.plainbutton {
	background: none;
	border: none;
}