.bznetwork-ServerListTable {
	border: 1px solid #cccccc
}

.bznetwork-MenuCurrentScreenItem {
	text-decoration: none;
	color: black;
	font-weight: bold
}

.bznetwork-MainScreenHeader {
	font-weight: bold;
	font-size: 24px;
}

.bznetwork-MainScreenHeaderLeft {
	padding-left: 117px;
}

.bznetwork-MainScreenHeaderName {
	font-weight: bold;
	font-size: 24px;
	color: #aaaaaa
}

.bznetwork-MainScreenHeaderSeparator {
	font-weight: bold;
	font-size: 24px;
	color: #555555;
	text-align: center;
	width: 15px;
	padding-right: 5px
}

.plainbutton {
	background: none;
	border: none;
}

.bznetwork-GettingStartedLink {
	color: #888888;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

.bznetwork-GettingStartedLink-out a {
	text-decoration: none
}

.bznetwork-MenuBoxPanelLeft {
	width: 112px;
	border-right: 1px solid #888888;
	margin-right: 6px;
	font-size: 12px;
}

.bznetwork-Header2 {
	font-weight: bold;
	font-size: 20px;
}

.bznetwork-Header3 {
	font-weight: bold;
	font-size: 16px;
}

.bznetwork-centered {
	text-align: center;
}

.bznetwork-PermsTableOn {
	color: #888888
}

.bznetwork-PermsTableGlobal {
	color: #888888
}

.bznetwork-PermsTableNewGlobal {
	color: #888888
}

.bznetwork-PermsTableGroupServerSlash {
	color: #888888
}

.bznetwork-AuthEditorProviderName {
	font-weight: bold;
}

.epc-StaticTextBuilder-editorgrid {
	border: 1px solid #BBBBBB;
	border-spacing: 0px;
}

.bznetwork-ServerList-GroupName {
	font-weight: bold
}

.bznetwork-ServerState-LIVE .header,.bznetwork-ServerState-LIVE .header a,.bznetwork-ServerState-LIVE .header td
	{
	color: #008800
}

.bznetwork-ServerState-STARTING .header,.bznetwork-ServerState-STARTING .header a,.bznetwork-ServerState-STARTING .header td
	{
	color: #004488
}

.bznetwork-ServerState-STOPPING .header,.bznetwork-ServerState-STOPPING .header a,.bznetwork-ServerState-STOPPING .header td
	{
	color: #888800
}

.bznetwork-ServerState-STOPPED .header,.bznetwork-ServerState-STOPPED .header a,.bznetwork-ServerState-STOPPED .header td
	{
	color: #880000
}

.bznetwork-indented {
	padding-left: 16px
}

.bznetwork-None {
	
}